{% extends 'app/base.html' %} {% load crispy_forms_tags %}{% block content %}
<h1 class="text-center my-5">Register Page</h1>
<div class="col-md-4 offset-md-4 my-2">
    <form method="POST">

        <div class="row">
            <div class="col-md-6">
                {% csrf_token %} {{form.username | as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.email | as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.password2 | as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.phone | as_crispy_field}}
            </div>
            <div class="col-md-6  mt-4 float-end">
                <button type="reset" class="btn btn-outline-warning mt-2">Cancel</button>
                <button type="submit" class="btn btn-primary mt-2">Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}