{% extends 'app/base.html'%} {% load static %}
<!-- jinja2* -->
{% block content %}

<h1 class="text-danger text-center">I am Main Categories Page</h1>
<div class="col-md-8 offset-md-2">
    <a href="{% url 'cats-create' %}" class="btn btn-sm btn-primary float-end">
        <span>Create</span><i class="material-icons">add</i></a>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <th>{{cat.id}}</th>
                <td>{{cat.name}}</td>
                <td><img src="{{cat.image.url}}" width="30" height="30" alt="" class="rounded"></td>
                <td>
                    <button class="btn btn-sm btn-danger"><i class="material-icons">delete</i></button>
                    <button class="btn btn-sm btn-warning"><i class="material-icons">edit</i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- jinja2* -->
{% endblock %}