{% load static %}
<div class="container-fluid bg-light shadow">
    <nav class="container navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home'%}">
                <img src="{% static 'app/images/cg.png' %}" class="rounded" alt="" width="30" height="30">
                <span>Django</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'cats' %}">categories</a></li>
                            <li><a class="dropdown-item" href="{% url 'subs' %}">sub categories</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Users
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'user-logout' %}">Logout</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'user-login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'user-register' %}">Register</a></li>
                            {% endif%}
                        </ul>
                    </li>
                    <li class="nav-item" onclick="showCart()">
                        <a class="nav-link  text-dark" aria-current="page" style="cursor: pointer;">
                            <i class="material-icons">shopping_cart</i>
                            <span class="cart_count text-white bg-danger">0</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>